In [22]:
import pandas as pd

In [23]:
df = pd.read_excel('ThepExcel-Excel-Level-Up-2020-v4.xlsx', sheet_name='simple-data')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
วันที่         5 non-null object
Unnamed: 1     6 non-null object
Unnamed: 2     7 non-null object
Unnamed: 3     6 non-null object
Unnamed: 4     6 non-null object
Unnamed: 5     0 non-null float64
Check Point    0 non-null float64
ThepExcel      6 non-null object
dtypes: float64(2), object(6)
memory usage: 656.0+ bytes

In [25]:
df.head()

,วันที่,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Check Point,ThepExcel
0,NaN,NaN,NaN,NaN,=D4/$D$8,NaN,NaN,รู้ว่าค่าที่แท้จริงอาจไม่เหมือนสิ่งที่เห็น
1,สินค้า,ราคาต่อหน่วย,จำนวนชิ้นที่ขายได้,ยอดขาย,%สัดส่วนยอดขาย,NaN,NaN,กด Alt+= ได้ Autosum
2,เสื้อผ้า,500,30,15000,0.105263,NaN,NaN,กด F4 ได้ผล (ถ้าไม่ได้ให้กด Fn+F4)
3,ของเล่น,3.5,1000,3500,0.0245614,NaN,NaN,copy ลาก Fill Handle ได้
4,อุปกรณ์กีฬา,300,80,24000,0.168421,NaN,NaN,รู้ว่าวันที่ต้องชิดขวา และต้องกรอกตาม control ...

In [26]:
df = pd.read_excel('ThepExcel-Excel-Level-Up-2020-v4.xlsx', sheet_name='simple-data', header=2)

In [27]:
df.head()

,สินค้า,ราคาต่อหน่วย,จำนวนชิ้นที่ขายได้,ยอดขาย,%สัดส่วนยอดขาย,Unnamed: 5,Unnamed: 6,กด Alt+= ได้ Autosum
0,เสื้อผ้า,500,30,15000.0,0.105263,NaN,NaN,กด F4 ได้ผล (ถ้าไม่ได้ให้กด Fn+F4)
1,ของเล่น,3.5,1000,3500.0,0.024561,NaN,NaN,copy ลาก Fill Handle ได้
2,อุปกรณ์กีฬา,300,80,24000.0,0.168421,NaN,NaN,รู้ว่าวันที่ต้องชิดขวา และต้องกรอกตาม control ...
3,คอมพิวเตอร์,20000,5,100000.0,0.701754,NaN,NaN,เช็คว่าข้อมูลเท่ากันหรือไม่ด้วย =cellแรก=cellท...
4,NaN,รวม,1115,142500.0,NaN,NaN,NaN,NaN

In [28]:
df.iloc[:4, :-3]

        สินค้า ราคาต่อหน่วย จำนวนชิ้นที่ขายได้    ยอดขาย  %สัดส่วนยอดขาย
0     เสื้อผ้า          500                 30   15000.0        0.105263
1      ของเล่น          3.5               1000    3500.0        0.024561
2  อุปกรณ์กีฬา          300                 80   24000.0        0.168421
3  คอมพิวเตอร์        20000                  5  100000.0        0.701754